.Feed{
    flex: 0.4;
    border-right: 1px solid lightgray;
    min-width: fit-content;
    overflow-y: scroll;
    width: 100%;
    max-width: 600px !important;
}

.Feed::-webkit-scrollbar {
    display: none;
}

.feed__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;
}

.feed__header > h2 {
    font-size: 26px;
    font-weight: 700;
}

